<!-- components/sidebar_hod.html -->
<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" id="sidebarMenu">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" href="/hod/dashboard/">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'academic_years' %}">Academic Years</a></li>
      <li class="nav-item"><a class="nav-link" href="/subjects/">Subjects</a></li>
      <li class="nav-item"><a class="nav-link" href="/assign-subjects/">Assign Subjects</a></li>
      <li class="nav-item"><a class="nav-link" href="/reports/attainment/">Attainment Report</a></li>
      <li class="nav-item"><a class="nav-link" href="/settings/users/">Users</a></li>
      <li class="nav-item"><a class="nav-link" href="/evidence/">Evidence</a></li>
    </ul>
  </div>
</nav>